body, html{
    overflow-x: hidden;
}

.zoom {
    position: absolute;
    top: 30vh;
    will-change: transform;
    width: 100%;
    transform: scale(2.2);
  }
  .zoom2 {
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    top: 30vh;
    will-change: transform;
    width: 100%;
    transform: scale(2.2);
  }

  .bottom {
    height: 100vh;
  }
  
  .top {
    position: relative;
    height: 100vh;
  }
  p{
    font-size: 3rem;
  }
  
  .wrap {
    position: relative;
    height: 150vh;
    overflow: hidden;
  }