body, html{
  /* height: 100%; */
  
}

.zoom {
    position: absolute;
    will-change: transform;
    width: 100%;
    height: 53.5%;
    top: 5%;
    transform: scale(1.2);
  }
  
  .zoom2 {
    /* visibility: none; */
    position: absolute;
    will-change: transform;
    width: 100%;
    top: 55%;
    height: 60%;
    transform: scale(0.5);
  }

  .bottom {
    height: 100vh;
    background-color: red;
  }
  
  .top {
    position: relative;
    height: 100vh;
    background-color: blue;
  }
  p{
    font-size: 3rem;
  }
  
  .wrap {
    position: sticky;
    height: 150vh;
    overflow: hidden;
  }